body{
    background-color: red;
}
.btn-primary{
    background: red;
}
 
.questions-wrap li{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.questions-wrap .options-list{
    padding: 0;
    margin: 0;
}
.options-list{
    display: flex;
    flex-wrap: wrap;
}
.options-list li{
    width: 50%;
    text-align: left;
}
.optcorrect {
    background : green
}
.true {
    background : green
}
.false{
    background : #f00;
    /* border: 1px solid #f00; */
}
.optwrong  {
    background : white;
    border: 1px solid #f00;
}